/* Styles library Demo */

body, html {
    height: 100%;
    font-family: 'Source Code Pro', monospace; 
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("pictures/Laurie Andre_4.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the left of the image */
.hero-text {
    font-family: 'Source Code Pro', monospace; 400;
    text-align: left;
    position: fixed;
    top: 50%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    color: #CF1AFA;
} 
.hero-bars {
    font-family: 'Source Code Pro', monospace; 200;
    padding: 10px 25px;
    color: #727272;
    position: fixed;
    top: 50%;
    right: 5%;
    /* transform: translate(-50%, -50%); */
}

.hero-bars p:hover {
    color: #CF1AFA;
} 


.myGallery{
    /* width: 100%; */
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 20em;
}
 
.myGallery a {
    padding: 1em 0;
    font-family: 'Source Code Pro', monospace; 200;
    color: #727272;
}

.myGallery a img {
	/* width: 100%; */
	height: 100%;
	max-height: 300px;
}


footer {
   background-color: #1A1613;
   text-align: center;
   padding: 1em;
   margin-top: 20em;
}

footer i {
    color: #727272;
    margin: 1em;
    /* margin-top: 3em; */
}

footer i:hover {
    color: #CF1AFA;
} 